.dropdown-item { box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; }

.navbar a:hover  {
    background-color: red;
}



#navbarDropdown {
color: white;

}


.dropdown-menu a:hover {
    background-color: lightgrey;
}

#home {
color: white;
}


h3 {text-align: center;
	color: black;
}

.NB {text-align: center;}


 div {
 clear: left;
 }
 body {
 background-color: #ccccff;
 }



